<?xml version="1.0" encoding="UTF-8"?>
<extension>
	<information>
		<name>Kindle Wall Display</name>
		<version>2.0</version>
		<author>Kindle Wall Display contributors</author>
		<id>wall-display</id>
	</information>
	<menus>
		<menu type="json" dynamic="false">menu.json</menu>
	</menus>
</extension>
